.card {
    min-width: 500px;
    height: 100%; 
    display: flex; 
    align-items: flex-start;
    padding-top: 30px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    background:#c653c6;
}

.user-email {
    text-align: center;
}