<mat-grid-list cols="2" rowHeight="1.25:1">
  <mat-grid-tile>
    <div class="card" style="justify-content: flex-end;">
      <mat-card style="min-width: 500px;">
        <mat-card-header>
          <mat-card-title>Friends</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button>ADD FRIEND</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
      <div class="card" style="justify-content: flex-start;">
        <mat-card style="min-width: 500px;">
          <mat-card-header>
            <mat-card-title>Favorite Cheeses</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>