<div class="user-email mat-h2">
  <h1>{{email}}</h1>
</div>

<mat-grid-list cols="2" rowHeight="1.25:1">
  <mat-grid-tile>
    <div class="card" style="justify-content: flex-end;">
      <mat-card style="min-width: 500px;">
        <mat-card-header>
          <mat-card-title>Friends</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list" class="detail-list">
              <div *ngFor="let friend of friends">
                <mat-list-item (click)="goToUser(friend)" role="listitem">{{ friend }}</mat-list-item>
                <mat-divider></mat-divider>
              </div>
            </mat-list>
        </mat-card-content>
        <mat-card-actions *ngIf="email == userEmail">
          <mat-form-field class="add-friend">
            <input [(ngModel)]="addEmail" matInput type="text" placeholder="Email" (keyup.enter)="toggleFriend()">
            <button mat-button mat-icon-button matSuffix (click)="toggleFriend()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
      <div class="card" style="justify-content: flex-start;">
        <mat-card style="min-width: 500px;">
          <mat-card-header>
            <mat-card-title>Favorite Cheeses</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <mat-list role="list" class="detail-list">
                <div *ngFor="let favorite of favorites">
                  <mat-list-item  role="listitem">{{ favorite }}</mat-list-item>
                  <mat-divider></mat-divider>
                </div>
              </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>