.search {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

.card {
  max-width: 500px;
}

.tile {
  padding-top: 0px;
}