<div class="example-container">
    <mat-form-field>
      <input matInput #cheese (keyup.enter)="populateFields(cheese.value)" placeholder="Cheese Name">
      <mat-icon (click)="populateFields(cheese.value)" matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.country_of_origin" disabled matInput placeholder="Country of Origin">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.fat_content" disabled matInput placeholder="Fat Content">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.family" disabled matInput placeholder="Family">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.color" disabled matInput placeholder="Color">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.region" disabled matInput placeholder="Region">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.texture" disabled matInput placeholder="Texture">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.aroma" disabled matInput placeholder="Aroma">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.flavor" disabled matInput placeholder="Flavor">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.type" disabled matInput placeholder="Type">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.image" disabled matInput placeholder="Image">
    </mat-form-field>

    <mat-form-field>
      <input [ngModel]="cheeseData?.pairing" disabled matInput placeholder="Pairings">
      <mat-icon (click)="populateFields(cheese.value)" matSuffix>add</mat-icon>
    </mat-form-field>
  
    <mat-form-field>
      <textarea [ngModel]="cheeseData?.description" disabled matInput placeholder="Description"></textarea>
    </mat-form-field>
  </div>