<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Cheese Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country of Origin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Fat Content">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Family">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Color">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Region">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Texture">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Aroma">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Flavor">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Type">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Image">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pairings">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
  </div>