.search {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

.card {
  max-width: 500px;
  height: 100%; 
  display: flex; 
  align-items: flex-start;
  padding-top: 30px;
  width: 100%;
  justify-content: flex-end;
  max-height: 1000px;
}

.detail-list {
  height: 100%; 
  display: flex; 
  flex-direction: column;
  padding-top: 35px;
  margin: 0 auto 0 0;
}

.pairing-input {
  padding-left: 10px;
  padding-top: 7px;
}

button {
  background:#c653c6;
  height: 50%;
}