mat-toolbar {
    background: #ffd633;
}

.pahrithcheese {
    font-size: 35px;
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    font-size: 50px;
    padding-bottom: 25px;
    padding-right: 25px;
}