.login-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

mat-form-field {
  width: 30%;
}

button {
  width: 30%;
  background:#c653c6;
}